# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.log

# Node.js / React
node_modules/
*.lock
dist/
build/

# VS Code 
.vscode/


# OS
.DS_Store
Thumbs.db

# Postman / test exports
*.postman_collection.json
